{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "linebreak-style": "off",
    "no-unused-vars": "off",
    "object-curly-spacing": "off",
    "no-trailing-spaces": "off",
    "eol-last": "off",
    "no-extra-semi": "off",
    "indent": "off",
    "operator-linebreak": "off",
    "no-debugger": "off",
    "max-len": "off"
  },
  "extends": ["eslint:recommended", "google"]
}